{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Twój profil</title>
{% endblock %}

{% block header %}
    <div class="container">
        {% if user.is_authenticated %}
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h2>{{ user.email }}</h2>
        {% else %}
        <p>Tylko dla zalogowanych użytkowników.
            <a href="{% url 'login' %}">Zaloguj</a>
        </p>
        {% endif %}
    </div>

    <div class="container">
        {% if donations %}
            <h2 id="">Przekazane dary:</h2>
                    {% for donation in donations %}
                        <h3 class="slogan container container--90">
                            <h3>Dnia {{ donation.pick_up_date }} 
                                o godzinie {{ donation.pick_up_time }} 
                                przekazano {{ donation.quantity }} worków 
                                dla organizacji "{{ donation.institution.name }}" w kategorii:
                                {% for category in donation.categories.all %}
                                    {{ category }},
                                {% endfor %}
                            </h3>
                            <hr>
                        </h3>
                    {% endfor %}
        {% else %}
            <div class="">
                <h1>Jeszcze nie przekazałeś żadnego daru. Przekaż swój pierwszy dar, klikając w guzik poniżej :)</h1>
                <a class="btn btn-success" href="{% url 'add-donation' %}" role="button">Dodaj darowiznę</a>
            </div>
        {% endif %}
    </div>
{% endblock %}